<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como fazer k9 frito</title>
</head>
<style>
    h1 {text-align: center;
    text-shadow: 0svi;}
    p {text-align: center;}
    a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: fuchsia;
    }
    p {text-align: center;}
</style>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHmdBxm2yOG1i-y9NUohNSF_HakCPh3OOBMQ&usqp=CAU" alt="emote">
    <h1>COMO FABRICAR K9 🤶🏿 </h1>
    <p>facil pratico e rapido</p>
    <footer>
        <tr>
           <p><td><a href="{{url_for('index') }}" class="button" >home</style></td>
            <td><a href="{{url_for('produto')}}" class="button" >K9 produtos</td>
            <td><a href="{{url_for('login')}}" class="button" >cadastro k9</td></p>
    </footer>
    </table>
</body>
</html>