<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
</head>
<style>
    h1 {text-align: center;}
    h1 {text-decoration: rgb(62, 187, 100);}
    h1 {text-shadow: 0dvb;}
    p {text-align: left;}
</style>
<body>
    <h1>K9 PROTUDOS 👮‍♀️🕵️‍♀️</h1>
    <p>produtos k9 altamente testados em laboratorios sendo as cobais, ratos, coelhos e humanos</p>
</body>
</html>